<div class="phone-images">
    <img class="phone"
         ng-src="{{ img }}"
         ng-class="{selected: img === phoneDetailsCtrl.currentImage }"
         ng-repeat="img in phoneDetailsCtrl.getImageList()" />
</div>

<h1>{{phoneDetailsCtrl.getPhoneDetails().name}}</h1>

<p>{{phoneDetailsCtrl.getPhoneDetails().description}}</p>

<ul class="phone-thumbs">
    <li ng-repeat="img in phoneDetailsCtrl.getImageList()">
        <img ng-src="{{ img }}" ng-click="phoneDetailsCtrl.setCurrentImage(img)" />
    </li>
</ul>

<ul class="specs">
    <li>
        <span>Availability and Networks</span>
        <dl>
            <dt>Availability</dt>
            <dd ng-repeat="availability in phoneDetailsCtrl.getPhoneDetails().availability">{{availability}}</dd>
        </dl>
    </li>
    <li>
        <span>Battery</span>
        <dl>
            <dt>Type</dt>
            <dd>{{phoneDetailsCtrl.getPhoneDetails().battery.type}}</dd>
            <dt>Talk Time</dt>
            <dd>{{phoneDetailsCtrl.getPhoneDetails().battery.talkTime}}</dd>
            <dt>Standby time (max)</dt>
            <dd>{{phoneDetailsCtrl.getPhoneDetails().battery.standbyTime}}</dd>
        </dl>
    </li>
    <li>
        <span>Storage and Memory</span>
        <dl>
            <dt>RAM</dt>
            <dd>{{phoneDetailsCtrl.getPhoneDetails().storage.ram}}</dd>
            <dt>Internal Storage</dt>
            <dd>{{phoneDetailsCtrl.getPhoneDetails().storage.flash}}</dd>
        </dl>
    </li>
    <li>
        <span>Connectivity</span>
        <dl>
            <dt>Network Support</dt>
            <dd>{{phoneDetailsCtrl.getPhoneDetails().connectivity.cell}}</dd>
            <dt>WiFi</dt>
            <dd>{{phoneDetailsCtrl.getPhoneDetails().connectivity.wifi}}</dd>
            <dt>Bluetooth</dt>
            <dd>{{phoneDetailsCtrl.getPhoneDetails().connectivity.bluetooth}}</dd>
            <dt>Infrared</dt>
            <dd>{{phoneDetailsCtrl.getPhoneDetails().connectivity.infrared | checkmark}}</dd>
            <dt>GPS</dt>
            <dd>{{phoneDetailsCtrl.getPhoneDetails().connectivity.gps | checkmark}}</dd>
        </dl>
    </li>
    <li>
        <span>Android</span>
        <dl>
            <dt>OS Version</dt>
            <dd>{{phoneDetailsCtrl.getPhoneDetails().android.os}}</dd>
            <dt>UI</dt>
            <dd>{{phoneDetailsCtrl.getPhoneDetails().android.ui}}</dd>
        </dl>
    </li>
    <li>
        <span>Size and Weight</span>
        <dl>
            <dt>Dimensions</dt>
            <dd ng-repeat="dim in phoneDetailsCtrl.getPhoneDetails().sizeAndWeight.dimensions">{{dim}}</dd>
            <dt>Weight</dt>
            <dd>{{phoneDetailsCtrl.getPhoneDetails().sizeAndWeight.weight}}</dd>
        </dl>
    </li>
    <li>
        <span>Display</span>
        <dl>
            <dt>Screen size</dt>
            <dd>{{phoneDetailsCtrl.getPhoneDetails().display.screenSize}}</dd>
            <dt>Screen resolution</dt>
            <dd>{{phoneDetailsCtrl.getPhoneDetails().display.screenResolution}}</dd>
            <dt>Touch screen</dt>
            <dd>{{phoneDetailsCtrl.getPhoneDetails().display.touchScreen | checkmark}}</dd>
        </dl>
    </li>
    <li>
        <span>Hardware</span>
        <dl>
            <dt>CPU</dt>
            <dd>{{phoneDetailsCtrl.getPhoneDetails().hardware.cpu}}</dd>
            <dt>USB</dt>
            <dd>{{phoneDetailsCtrl.getPhoneDetails().hardware.usb}}</dd>
            <dt>Audio / headphone jack</dt>
            <dd>{{phoneDetailsCtrl.getPhoneDetails().hardware.audioJack}}</dd>
            <dt>FM Radio</dt>
            <dd>{{phoneDetailsCtrl.getPhoneDetails().hardware.fmRadio | checkmark}}</dd>
            <dt>Accelerometer</dt>
            <dd>{{phoneDetailsCtrl.getPhoneDetails().hardware.accelerometer | checkmark}}</dd>
        </dl>
    </li>
    <li>
        <span>Camera</span>
        <dl>
            <dt>Primary</dt>
            <dd>{{phoneDetailsCtrl.getPhoneDetails().camera.primary}}</dd>
            <dt>Features</dt>
            <dd>{{phoneDetailsCtrl.getPhoneDetails().camera.features.join(', ')}}</dd>
        </dl>
    </li>
    <li>
        <span>Additional Features</span>
        <dd>{{phoneDetailsCtrl.getPhoneDetails().additionalFeatures}}</dd>
    </li>
</ul>
